<%- include('title') %> <%= titulo %> <%- include('body') %>

<%# include('styles') %>
<%# include('body') %>
<main>

	<!-- testimonials -->
	<%- include("partials/testimonials") %>
	<!-- testimonials -->

</main>

<%# include('scripts') %>